
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	scrollbar-width: thin;
	scrollbar-color: #333 transparent;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }
::-webkit-scrollbar-thumb:hover { background: #444; }

:root {
	color-scheme: dark;
	--link: cyan;
}

:not(:defined) {
	display: none;
}

a {
	color: var(--link);
	text-decoration: none;

	&:visited {
		color: color-mix(in srgb, purple, var(--link) 70%);
	}

	&:hover {
		color: color-mix(in srgb, white, var(--link) 90%);
		text-decoration: underline;
	}

	&:active {
		color: color-mix(in srgb, white, var(--link) 50%);
	}
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;

	color: #fffc;
	background: #200000;
	background: linear-gradient(to bottom, #200000, #000);
	font-family: sans-serif;

	scrollbar-gutter: stable;
	scrollbar-width: thin;
}

game-app {
	overflow: auto;
	position: absolute;
	inset: 0;

	margin: auto;
	max-width: 100%;
	max-height: 100%;

	&[restrict-aspect-ratio] {
		aspect-ratio: 16 / 9;
	}

	.loading, .exhibit {
		position: absolute;
		inset: 0;
	}

	> * {
		user-select: text;
	}

	> * + * {
		margin-top: 1em;
	}

	h1 {
		font-size: 1.5em;
		> em {
			color: white;
			font-style: normal;
			text-shadow: 0 0 0.5em #fff8;
		}
	}

	footer {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-top: 2em;

		.benev {
			display: flex;
			align-items: center;
			gap: 0.5em;

			&:is(:hover, :focus) {
				filter: drop-shadow(0 0 0.5em #fff8);
			}

			> img { height: 2em; }
		}
	}
}

